<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/project.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

</head>
<script async src="https://tally.so/widgets/embed.js"></script>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logos"><a href="http://127.0.0.1:5000/"><img src="https://tse2.mm.bing.net/th?id=OIP.rbrFuf821BNE8w_VnVvoUwHaD4&pid=Api&P=0&h=180"
            alt=""></a></div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon"><i class="fas fa-bars"></i></label>
        <ul class="nav-links">
            <li><a href="{{ url_for('') }}">Home</a></li>
            <li><a href="{{ url_for('room') }}">Rooms</a></li>
            <li><a href="{{ url_for('facility') }}">Facilities</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><button class="book-now" data-tally-open="w4RyJd" data-tally-emoji-text="👋" data-tally-emoji-animation="wave">Book Now</button>
            </li>
        </ul>
    </nav>
    <!-- Sticky WhatsApp Button -->
    <a href="https://wa.link/kabjot" class="whatsapp-float" target="_blank">
        <i class="fab fa-whatsapp"></i>
    </a>
    <section class="galleryshow">
        <h1 class="gg">Gallery</h1>
    </section>

    <div class="section">
        <h2 class="section-title">Exterior</h2>
        <p class="subtitle">Showcasing the stunning outside scenery and architecture of Deodar Cottage.</p>
        <div class="highlight-line"></div>
        <div class="gallery">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368641.jpg?k=6e3a3d6d3d7780bc43b964e560a5f404edd13812245def1a4efb04a8bcd74057&o=&hp=1"
                alt="Exterior 1">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368683.jpg?k=ec28175d4376d0f71d5910a879e993bf9df9cccc92e975521ed7d8dcfe52e799&o=&hp=1"
                alt="Exterior 2">
            <img src="../static/css/media/u.jpg" alt="Exterior 3">
            <img src="../static/css/media/y.jpg" alt="Exterior 4">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368648.jpg?k=60ef403b5d218977082cc56bb03fc195770f8b815ee9c5fc518a796c0701f512&o=&hp=1"
                alt="Exterior 5">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368638.jpg?k=2472c580e8a8b44ac497e2ad22036a1f78c472d6848811bf0db49685f359248d&o=&hp=1"
                alt="Exterior 6">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368622.jpg?k=ab076d3b88a647e1baa6c319d562f43c91eba6388c37ee4fa1068f2208630a35&o=&hp=1"
                alt="Exterior 7">
            <img src="../static/css/media/pg.jpg" alt="Interior 2">
            <img src="../static/css/media/z.jpg" alt="Interior 2">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/632134565.jpg?k=359b5f36a18f1c4d8de19bcd91e11f7b535b7faf7315c23ab72bbb0322337d2d&o=&hp=1"
                alt="Interior 2">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368664.jpg?k=fb116ca4dafa6a13592e59549fd6ba6a5b6223329e429912b3cebaeb45302cfa&o=&hp=1"
                alt="Interior 2">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368670.jpg?k=b3527da50ce50b85458f98b2d06ec21dd60fa2b350034c9d8d57331745e488b6&o=&hp=1"
                alt="Exterior 8">
        </div>
    </div>

    <div class="section">
        <h2 class="section-title">Interiors</h2>
        <p class="subtitle">A glimpse into the beautifully decorated rooms and cozy spaces.</p>
        <div class="highlight-line"></div>
        <div class="gallery">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637480618.jpg?k=820dd4981286216cad50a9954368327e2ccdd0d817d56b59c26e2118f816299a&o=&hp=1"
                alt="Interior 1">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637480151.jpg?k=b08f351e11677ee26d544776dd448035668294b204903a9ced25db546a245cbe&o=&hp=1"
                alt="Interior 2">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368671.jpg?k=655b0c5169afef3cbd0e52fcf0335a981e757b508b525ca70ffcc2690342b0f9&o=&hp=1"
                alt="Interior 3">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368643.jpg?k=553168416cbcc64a8d972dd99d127558395e6d0f212da838e41163668ac2d79e&o=&hp=1"
                alt="Interior 4">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368623.jpg?k=550f67efd8eccfaf12cb03aaefbff324cb59d7a09041cbe93890b9b29b7613c7&o=&hp=1"
                alt="Interior 5">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max200/637368663.jpg?k=c00976ef44b3ae18b5abf4169ebb76fd0ddeb26a46d96341b907321f81050807&o=&hp=1"
                alt="Interior 7">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368680.jpg?k=7fcde978783133d526f353aee173fe56d7fb7f962226a5025918923aa2a955a3&o=&hp=1"
                alt="Interior 8">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368626.jpg?k=f6871fd890b7d6f34e219afa82e3f355d6bdb4e139c6db3b1b5c1da03cab114d&o=&hp=1"
                alt="Interior 9">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368665.jpg?k=be802d0883b8546d8eb59deeec680dbef77af8cd0ed74db1d8dd8091d9b40ea1&o=&hp=1"
                alt="Interior 10">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368657.jpg?k=793ff7d65cd0435f9d5f1d492a58f653fbeba856c6993b5bcd24d2181a34c00a&o=&hp=1"
                alt="Interior 11">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368631.jpg?k=ceed0bab5ed34da1500566119878a4d5a3446200037c30105d13d382c6ebcf3e&o=&hp=1"
                alt="Interior 6">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368621.jpg?k=3171480ef08f18504f4bdddbe590ea7a8e81006d1e1f3b849be917221bb64e5c&o=&hp=1"
                alt="Interior 12">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368658.jpg?k=fa6e6d5b4ac13152b9c489f3908036dbc437a0da2b6fa9006c8fcc82b1a9b0ee&o=&hp=1"
                alt="Interior 13">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368660.jpg?k=962fbdd2caecb3a6aa7f86d3e1d9c9dc5d7c27f1289e12d664b80b067a6d797c&o=&hp=1"
                alt="Interior 13">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368666.jpg?k=b81cdb9acd79d317423db300c33fbd1c03cd5231a3ee0e9eedbcdcf239e52e88&o=&hp=1"
                alt="Interior 13">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368654.jpg?k=af5214358b307f036bbd6fba473e6f0586c660047dcba7f08267a233db247888&o=&hp=1"
                alt="Interior 13">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637368640.jpg?k=c9478a5e8b942ba421dc985a577f71c48dda18949bcb54709b7a35949e3ff40f&o=&hp=1"
                alt="Interior 13">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/637481722.jpg?k=878f4e83f06de763318c8616060b2f707afb3138d0e0e8586986ce98f5827192&o=&hp=1"
                alt="Interior 13">
            <img src="https://images.getaroom-cdn.com/image/upload/s--K0ClQWLl--/c_limit,e_improve,fl_lossy.immutable_cache,h_940,q_auto:good,w_940/v1737572876/5558dc04dddf940e9927e40560934503e391ea1e?atc=e7cd1cfa"
                alt="Interior 13">
            <img src="https://images.getaroom-cdn.com/image/upload/s--TxBsZDHX--/c_limit,e_improve,fl_lossy.immutable_cache,h_940,q_auto:good,w_940/v1740240819/1871f44c54202bd369ca22d638f612b812bb0d99?atc=e7cd1cfa"
                alt="Interior 13">
            <img src="https://images.getaroom-cdn.com/image/upload/s--myTZEMf1--/c_limit,e_improve,fl_lossy.immutable_cache,h_940,q_auto:good,w_940/v1740240820/02e6d420bcdab221fe6a7e9f6024168d544cd7f4?atc=e7cd1cfa"
                alt="Interior 13">
            <img src="https://images.getaroom-cdn.com/image/upload/s--NwvyJIL5--/c_limit,e_improve,fl_lossy.immutable_cache,h_940,q_auto:good,w_940/v1740240822/90aae1371cac3d6543a11bdae17bfd884bb7b033?atc=e7cd1cfa"
                alt="Interior 13">
            <img src="https://images.getaroom-cdn.com/image/upload/s--amPppUZh--/c_limit,e_improve,fl_lossy.immutable_cache,h_940,q_auto:good,w_940/v1740240823/bf42ab41f2306f17a192c82c15761ef90aa23625?atc=e7cd1cfa"
                alt="Interior 13">
            <img src="https://images.getaroom-cdn.com/image/upload/s--eBPF46N---/c_limit,e_improve,fl_lossy.immutable_cache,h_940,q_auto:good,w_940/v1740240823/c76fce25b880f5d2167afe34f659200000f6b5cd?atc=e7cd1cfa"
                alt="Interior 13">

        </div>
    </div>
    <section class="about-section">
        <div class="about-left">
            <img src="https://tse2.mm.bing.net/th?id=OIP.rbrFuf821BNE8w_VnVvoUwHaD4&pid=Api&P=0&h=180" alt="">
            <p>Our cottage offers a serene experience amidst nature, providing modern comfort in a rustic setting.</p>
        </div>
        <div class="about-right">
            <h2>Contact Us</h2>
            <p><i class="fas fa-map-marker-alt"></i> Deodar Cottage, Hathi Paon road, Kyar Kuli Bhatta, Mussoorie,
                Uttarakhand</p>
            <p><i class="fas fa-phone"></i> +91 9667774205</p>
            <p><i class="fas fa-envelope"></i> deodarcottagee@gmail.com</p>
        </div>
    </section>

    <footer>
        <div>&copy; Copyright 2024, All rights reserved</div>
        <div class="footer-icons">
            <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>

    <script type="text/javascript" src="{{url_for('static', filename='script/project.js')}}"></script>

</body>

</html>